.head {
    width: 100%;
    text-align:center; 
    background-color: rgb(212, 80, 75);
}

.division {
    text-align:center ; 
    width:33%;
}

.big {
    width: 100%;
    background-color: #FF7773;
}

.rowP {
    height: 40px;
    text-align: center;
}
.perfil {
    width: 80%;
    margin: 0 auto;
    background-color: #efe0e0; 
    text-align: center;
}
.perfild {
    width: 80%;
    text-align: center;

}

.cent {
    width: 50%;
}

.TableE{
    text-align: justify ; 
    width: 64% ;
}

.cent1 {
    width: 50%;
    text-align: center;
}
